body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
}

/*** Header ***/

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color:rgba(255, 255, 255, 0.8);
}

h1 {
  display:inline-block;
  font-size: 6em;
  font-family: 'Hind', sans-serif;
  margin: 0.1em 0.4em 0 0.4em;
}

#title {
  color: #4786f1;
}

#main-button {
  color: #f18b47;
  animation: blinking normal 2s infinite ease-in-out;
  float: right;
}

#map {
  height: 25em;
  width: 80%;
}

#weather {
  font-size: 2.3em;
  font-style: italic;
  font-weight: 300;
  margin: 0.5em 0 0.5em 0;
}

#body {
  margin-top:46em;
}

@keyframes blinking {
  0% {opacity: 1;}
  50% {opacity: .25;}
  100% {opacity: 1;}
}

/*** Category Place ***/

.category-place {
  margin-top: 5em;
}

.category-place > h2 {
  color: #4786f1;
  font-size:4em;
  margin-bottom: 0.25em;
}

.category-place > hr {
  border: 0;
  height: 1px;
  background: #4786f1;
  width: 30%;
  margin: 0 0 1em 0;
}

.category-place-text {
  border:3px dashed purple;
  font-size: 2.25em;
  padding-left: 12em;
}

.category-place > img {
  float: left;
}

.placeholder-image {
  height: 400px;
  width: 400px;
  float: left;
}

/*** Formatting for Open_Now ***/
.open {
  color: #30FF45;
}

.closed {
  color: #FF3030;
}

#loading-animation {
  display: none;
  width: 10em;
  height: 10em;
  margin: 10em auto;
  background-color: #4786f1;

  border-radius: 100%;
  animation: blip 1.0s infinite ease-in-out;
}

@keyframes blip {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
