body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
}

/*** Header ***/

#header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.9);
}

h1 {
  color: #4786f1;
  font-size: 6em;
  font-family: 'Hind', sans-serif;
  margin: 0.1em 0 0 0.2em;
  display:inline-block;
}

#map {
  height: 25em;
  width: 80%;
}

#weather {
  font-size: 2.3em;
  font-style: italic;
  font-weight: 300;
  margin: 0.5em 0 0.5em 0;
}

#body {
  margin-top:46em;
}

/*** Category Place ***/

.category-place {
  margin-top: 5em;
}

.category-place > h4 {
  color: #4786f1;
  margin-bottom: 0.25em;
}

.category-place > hr {
  margin:0;
  width:20%;
}

#main-button {
  background-color: #4786f1;
  border-radius: 5%;
  color: white;
  font-size: 4em;
  width: 7em;
  height: 1.75em;
  display: inline-block;
  float: right;
  margin: 0.5em;
  text-align: center;
  vertical-align: middle;

  animation:wiggle infinite 2s ease-in-out;
}

#map-button {
  color:white;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: orange;
}

#distance-button {
  color:white;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: green;
}

#categories-button {
  color: black;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: yellow;
}

@keyframes wiggle {
	/*0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}*/
  0% {transform: translate(0, 0);}
  50% {transform: translate(0, -0.25em);}
}
