#map-button {
  color:white;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: orange;
}

#distance-button {
  color:white;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: green;
}

#map {
  height: 15em;
  width:50%;
}

#weather {
  font-size:2em;
}

#categories-button {
  color: black;
  font-size:2em;
  width: 4em;
  height: 4em;
  background-color: yellow;
}

.category-place {
  border: 0.5em solid black;
  margin: 1em;
}
